# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

# LaTeX
*.aux
*.bbl
*.log
*.toc
*.dvi
*.ps
#*.pdf # seems worse then expected
*draft*.pdf

# swapfiles
*.sw?
\#*\#

# Built files
/build/
/output/
